# Lesson 3: Sets in Python
---
Intro: Today we will learn about sets used in math and in Python!

# Review
---
1. What are modules?
2. How do you use modules?
3. Give an example of how you would use them.

# Concept 1: Sets
---

## What are they?
A set is an unordered collection, similar to a list, with no duplicate elements. Common uses include membership testing, or determining if some item is in a set, and eliminating duplicate elements. If we create a set that has repeating elements, it will automatically remove any duplicates. Each element in Python set is unique.

To create sets, you can use braces or the set() function. To create an empty set, simply just call set() with no arguments.

To check if an element is in a set, use 'in'

In [ ]:
basket = {'orange', 'orange', 'grapes', 'pear', 'banana'}
print(basket)

{'orange', 'grapes', 'banana', 'pear'}

In [ ]:
basket = {'orange', 'orange', 'grapes', 'pear', 'banana'}
'pear' in basket

True

## Examples:
---

In [ ]:
myname = set('tomasderrow')
myname

{'a', 'd', 'e', 'm', 'o', 'r', 's', 't', 'w'}

In [ ]:
num = {1,1,1,1,1,2,3,4,5,6}
num
4 in num

True

## DIY:
---
1. Create a set using the set() function containing five different colors.
2. Create a set using braces containing three different cars as a string data type.

In [ ]:
colors = set({"red", "blue", "purple", "yellow", "orange"})
print(colors)

{'yellow', 'blue', 'red', 'orange', 'purple'}

In [ ]:
cars = {'honda', 'ferrari', 'toyota'}
print(cars)

{'honda', 'toyota', 'ferrari'}

# Concept 2: Mathematical Set Operations
---

## What are they?

Set objects support mathematical operations such as union, intersection, difference, and symmetric difference.

Go to this website to see a graphic:
[https://images.app.goo.gl/hSDTckK1rZsDf7Hh6](https://images.app.goo.gl/hSDTckK1rZsDf7Hh6)

For example:
```
a = set('basketball')
b = set('football')
# prints the unique letters in a
a
# letters in a but not in b (difference)
a-b
# letters in a or b or both (union)
a|b
# letters in both a and b (intersection)
a&b
# letters in a or b but not both (symmetric difference)
a ^ b
```

## Examples:
---

In [ ]:
a = set('basketball')
b = set('football')
# letters in a but not in b (difference)
a^b

{'e', 'f', 'k', 'o', 's'}

In [ ]:
first = {45, 12, 90, 24}
second = {23, 45, 9, 25, 24}
first & second

{24, 45}

## DIY:
---
1. Create a set of prime numbers startin from 1-20
2. Create another set of odd numbers from 1-20
3. Perform all operations on both sets

In [ ]:
prime = set({1, 3, 5, 7})
odd = set({1, 3, 5 ,7, 9})
prime|odd

{1, 3, 5, 7, 9}

# Concept 3: Set Operations
---

## What are they?

### Create an Empty Set
The following is an incorrect way of creating an empty set. This will create an empty dictionary:

```
>>> empty={}

>>> type(empty)
<class 'dict'>
```
The correct way to create is shown below. To create an empty set, use the set method with empty constructor as shown below.
```
>>> empty=set()

>>> type(empty)
<class 'set'>
```
While trying to create empty set, use constructor method. Otherwise using 1st method will make an empty dictionary instead.

### Create Set from Tuple
First, create a tuple as shown below.

```
>>> p=(3,5,7,11,13)

>>> p
(3, 5, 7, 11, 13)

>>> type(p)
<class 'tuple'>
```
To learn more about tuples, refer to this: [Python Tuples Examples](https://www.thegeekstuff.com/2019/03/python-tuple-examples/)

Next, create a set from the above tuple:
```
>>> primes=set(p)

>>> p
(3, 5, 7, 11, 13)

>>> type(primes)
<class 'set'>

>>> primes
{3, 5, 7, 11, 13}
```
### Access a Specific Value in Set
Set elements cannot be accessed specifically, there is no index attached to it. We cannot access elements of set.

```
>>> primes = {3, 5, 7, 11, 13}

>>> primes[1]
Traceback (most recent call last):
File "<pyshell#21>", line 1, in <module>
primes[1]
TypeError: 'set' object does not support indexing
```

### Add an element
Items can be added to set using two methods add and update. Add method can insert single element but update method can insert tuple, lists too.
```
>>> primes={3,5,7,11}

>>> primes
{11, 3, 5, 7}

>>> primes.add(19)

>>> primes
{3, 5, 7, 11, 19}
```
The following will add the items from the plist to the primes set.

```
>>> plist=[12,14,15,16]

>>> primes.update(plist)

>>> primes
{3, 5, 7, 11, 12, 14, 15, 16, 19}
```
### Delete an element
Items can be removed from set using discard and remove method. While removing items, if item does not exist, remove reports and error while discard doesn’t.

```
>>> primes
{3, 5, 'santosh', 7, 11, 12, 14, 15, 16, 19}

>>> primes.discard("santosh")
>>> primes
{3, 5, 7, 11, 12, 14, 15, 16, 19}

>>> primes.discard("santosh")
```
While trying to remove already removed item, discard does not report an error.

Currently primes set has the following values.
```
>>> primes
{3, 5, 7, 11, 12, 14, 15, 16, 19}
The following will remove the item with value 11 from the primes set.

>>> primes.remove(11);
As you see below, we don’t see item with value 11 anymore in primes set.

>>> primes
{3, 5, 7, 12, 14, 15, 16, 19}

>>> primes.remove(11)
Traceback (most recent call last):
File "<pyshell#23>", line 1, in <module>
primes.remove(11)
KeyError: 11
```
Remove method reported error when trying to remove element which does not exist.

### Iterate through a set
Let us use the following primes set for this example.

```
>>> primes={3,5,7,11,91,101}

use for loop to loop through the set elements.
>>> for prime in primes:
print(prime);
3
5
101
7
11
```

###Clearing a Set
Using clear method, all the items of set can be deleted.

```
>>> prime1
{3, 5, 101, 7, 11, 91}

>>> prime1.clear()

>>> prime1
set()
```

## Examples:
---

In [ ]:
num_list = [23, 32, 8, 24, 9, 10, 1]
numbers_set = set(num_list)
# iterate through the set
for i in numbers_set:
  print(i)

32
1
8
9
10
23
24

In [ ]:
abc_set = {'a', 'b', 'c', 'd' , 'd'}
print("Before: " + str(abc_set))
abc_set.add('e')
print("After: " + str(abc_set))

Before: {'c', 'd', 'b', 'a'}
After: {'e', 'd', 'b', 'c', 'a'}

## DIY:
---
1. Congrats! You've been drafted 3rd overall to the Los Angeles Lakers. Next you have to pick your number but you can't use a retired number.
Given this set
```
8, 13, 22, 24, 25, 32, 33, 34, 42, 44, 52
```
Check to see if your number is in the set.
First choice, number 24. Second choice number 9.

In [ ]:
retired = set({8, 13, 22, 24, 25, 32, 33, 34, 42, 44, 52})
choices = set({24, 8})
retired&choices

{8, 24}

2. Lebron James decided to retire and the Lakers want to hang his jersey up into the rafters. Add his number (23) to the set.

In [ ]:
retired = set({8, 13, 22, 24, 25, 32, 33, 34, 42, 44, 52})
retired.add(23)
retired

{8, 13, 22, 23, 24, 25, 32, 33, 34, 42, 44, 52}

# Concept 4: Frozen Sets
---

## What are they?
There are two types of built-in set types:

* set: Python set type is mutable
* frozen set: Python frozen set type is immutable

The frozenset() function returns an immutable frozenset object initialized with elements from the given iterable.
Frozen set is just an immutable version of a Python set object. While elements of a set can be modified at any time, elements of the frozen set remain the same after creation.

Due to this, frozen sets can be used as keys in Dictionary or as elements of another set. But like sets, it is not ordered (the elements can be set at any index).

The syntax of frozenset() function is:
```
frozenset([iterable])
```

## Examples:
---

In [ ]:
a = frozenset([1,2,3,4,5,6,2,3,1])
b = set([1,2,3,4,5,6,2,3,1,7])
print(a)
print(b)
print(a&b)

frozenset({1, 2, 3, 4, 5, 6})
{1, 2, 3, 4, 5, 6, 7}
frozenset({1, 2, 3, 4, 5, 6})

## DIY:
---
1. Create a frozen set of vowels. 
2. Why would a frozen set be an ideal data structure for vowels?
3. Try add in a consonent.
4. Check if a is in the set of vowels.

In [ ]:
vowels = frozenset(['a', 'e', 'i', 'o', 'u'])
if 'a' in vowels:
  print('True')

True

# Summary:
---

1. What are sets?
2. What kinds of operations can you use with sets?
3. What's the difference between a set and a frozen set?
4. Daily uses of a set?

# Homework:
---
1. Build a class called Facebook with class variables called username, setOfFollowers, numOfPosts, numOfLikes. Username is type string, setOfFollowers is a set of strings, and numOfPosts and numOfLikes are integers.
2. Build a class called Twitter with class variables called username, setOfFollowers, numOfPosts, numOfLikes. Username is type string, setOfFollowers is a set of strings, and numOfPosts and numOfLikes are integers.
3. Create an instance of the class Facebook with the above arguments. Name that object Lebron.
4. Create an instance of the class Twitter with the above arguments. Name that object Giannis.

Find a union and intersection of followers these two players might have. Add both their total number of posts together. Add both their total amount of likes together. Print out each of their usernames.

Tip:
A sample instantiation for Lebron is:
```
followerset = set("Bronny", "Anthony Davis", "Dwyane Wade", "Luka Doncic")
lebron = Facebook("kingjames", followerset, 243, 898)
```

A sample output would be this:
```
In total, Bronny, Anthony Davis, Dwyane Wade, Luka Doncic, Kris Middleton, Kawhi Leonard follow either Lebron or Giannis.
Lebron and Giannis have Anthony Davis, Luka Doncic following them.
Together, Lebron and Giannis have 849 posts.
Together, Lebron and Giannis have 1928 likes.
Lebon's username is kingjames.
Giannis's username is superman.

```

# Notes on homework:
---

I will check in on Thursday,  through email to check on your progress. Respond with any questions you might have. Otherwise, a simple “all good” is appropriate if you have no questions or comments. 

You will need to upload your coding homework assignments to GitHub.
1. In gitbash, change directories to the homework directory: tomas_python/homework
* TIP: use ‘cd’ to change directories
* Use ‘cd ..’ to return to the previous directory
* Use ‘pwd’ to show full pathname of the current working directory 
* Use ‘ls’ to list all your directories
2. Once you’re in that directory, type in ‘git pull’
* This ensures you have all updated files
* If there is an error involved, email me immediately so we can try resolving it.
* Otherwise, type your code below and we’ll resolve issues next class
3. To create a new file, type in ‘touch hw01.py’ or the appropriate file name
* ‘Touch’ creates a new file
4. Open up the python file and start coding!

Note: Become familiar with these actions. This is essentially what happens in the backend when you right-click and create a new folder/file!

# DIY Solutions
---

In [ ]:
listofcolors = {'yellow', 'red', 'green', 'black', 'white'}
mycolors = set(listofcolors)
print(mycolors)

In [ ]:
cars = {"ferrari", "toyota", "tesla"}
print(cars)

In [ ]:
primenums = set([2, 3, 5, 7, 11, 13, 17, 19])
oddnums = set([1, 3, 5, 7, 9, 11, 13, 15, 17, 19])
print(primenums&oddnums)
print(primenums|oddnums)
print(primenums-oddnums)
print(primenums^oddnums)

In [ ]:
lakers_retirednums = {8, 13, 22, 24, 25, 32, 33, 34, 42, 44, 52}
if 24 in lakers_retirednums:
  print('yes')
else:
  print('no')

if 9 in lakers_retirednums:
  print('yes')
else:
  print('no')

In [ ]:
lakers_retirednums = {8, 13, 22, 24, 25, 32, 33, 34, 42, 44, 52}
lakers_retirednums.add(23)
print(lakers_retirednums)

In [ ]:
# tuple of vowels
vowels = ('a', 'e', 'i', 'o', 'u')

myset = frozenset(vowels)
print('The frozen set is:', myset)
print('The empty frozen set is:', frozenset())

# frozensets are immutable
myset.add('v')

if 'a' in myset:
  print('yes')